---
import Layout from '../layouts/Layout.astro';
import fetchApi from '../lib/strapi';
import type {ProductsDataDto} from '../model/model';
import {Products} from '../components/Products/Products';
import {PRODUCT_URL} from "../lib/strapi";

const products = await fetchApi<ProductsDataDto>({
  endpoint: `${PRODUCT_URL}`,
});

const { data } = products;
---

<Layout title="Catalog Phones">
	<main class="main">
    	<Products client:load products={data} />
	</main>
</Layout>
